.user
  .user-main
    a.user-link.user-link__profile(href='#')
      | Профиль
    a.user-link.user-link__stats(href='#')
      | Статистика
    a.user-link.user-link__tokens(href='#')
      | Токены
    a.user-link.user-link__api(href='#')
      | API
  .user-footer
    a.user-link.user-link__logout(href='#')
      | Выход