.flex
  section.section
    article.article.tutorials
      h2.tutorials-title Краткое обучение
      p.article-text
        | Банки все больше осознают важность риск-культуры как области, необходимой для эффективного управления рисками. Понимание риск-культуры развивалось от ее восприятия как необходимости выполнять требования регулятора в области рисков до сбалансированной системы, в центре которой находится оптимальное для организации соотношение риска и доходности, а если наклонить линию, то круг начинает скользить вниз и кажется, что тот, который справа, вот-вот упадёт»
      p.article-text.article-text--s
        | «Понимание риск-культуры развивалось от ее восприятия как необходимости выполнять требования регулятора в области рисков до сбалансированной системы»
      p.article-text.article-text--ls
        | На ранней стадии я поймал себя на мысли, что большинство примеров — это простые сайты. Идея обычно соответствует следующему формату: «Посмотрите на эти линии и 2 окружности: если предположить, что это набор масштабов, то окружность, которая более удалена от центра, перевешивает, а если наклонить линию, то круг начинает скользить вниз и кажется, что тот, который справа, вот-вот упадёт».
    article.article.general-info
      h2.general-info__title Общая информация
      p.article-text.article-text--ls
        | Если ранее бизнес рассматривал риск-подразделения как сдерживающий фактор развития, то сейчас они выступают в роли партнеров. Формальными правилами достичь такого результата вряд ли возможно, требуется соответствующая корпоративная культура.
      .article-figure
        .article-image
        .article-caption
          p Риск-культура - это устоявшиеся нормы поведения сотрудников, направленные на выявление рисков и управление ими.
      h3.article-subtitle Какие могут быть задачи у данного решения:
      ul.article-list
        li.article-list__item.article-list__item--ul
          | Сформировать у линейных руководителей набор управленческих знаний и навыков, необходимых для эффективного выполнения ими своих обязанностей в соответствии со стратегией Банка и корпоративной моделью компетенций;
        li.article-list__item.article-list__item--ul
          | Сформировать мотивацию к дальнейшему развитию;
        li.article-list__item.article-list__item--ul.article-list__item--lh
          | Выявить высоко-потенциальных руководителей Банка для дальнейшего карьерного развития.
      h2.general-info__title.general-info__title--mt44 Для чего это нужно?
      ol.article-list.article-list--pl20
        li.article-.article-list__item--ol
          | Команда и управление людьми;
        li.article-.article-list__item--ol
          | Побуждение, мотивирование подчиненных и коллег к участию в улучшениях;
        li.article-.article-list__item--ol
          | Эффективное управление людьми;
        li.article-.article-list__item--ol
          | Определение факторов, влияющих на вовлеченность в коллективе использование управленческих инструментов / рычагов влияния на эти факторы; подбор адекватных / убедительных тезисов и аргументов для различных целевых аудиторий влияния; воодушевление людей в личном общении;
        li.article-.article-list__item--ol
          | Построение эффективных команд, лидерство и личная эффективность;
        li.article-.article-list__item--ol
          | Принятие на себя лидерства и выбор стиля лидерства;
        li.article-.article-list__item--ol
          | Фиксация и анализ своих эмоций с целью повышения эффективности профессиональной деятельности;
        li.article-.article-list__item--ol
          | Навык постоянного личностного развития,
    article.article.video-lessons
      h2.video-lessons__title Видео-уроки
      .video-lessons__container
        .video-lesson
          video#video1.video-lesson__video(width="100%" height="100%" poster="/assets/sections/images/poster1.png")
            source(src="/assets/sections/tutorial/mops.mp4")
          #play-btn1.video-lesson__controls
          .video-lesson__timer 10:40
          .video-lesson__caption Команда и управление людьми
        .video-lesson
          video#video2.video-lesson__video(width="100%" height="100%" poster="/assets/sections/images/poster2.png")
            source(src="/assets/sections/tutorial/mops.mp4")
          #play-btn2.video-lesson__controls
          .video-lesson__timer 10:40
          .video-lesson__caption Мотивирование подчиненных и коллег к участию в улучшениях
        .video-lesson
          video#video3.video-lesson__video(width="100%" height="100%" poster="/assets/sections/images/poster3.png")
            source(src="/assets/sections/tutorial/mops.mp4")
          #play-btn3.video-lesson__controls
          .video-lesson__timer 10:40
          .video-lesson__caption Навык постоянного личностного развития
        .video-lesson
          video#video4.video-lesson__video(width="100%" height="100%" poster="/assets/sections/images/poster4.png")
            source(src="/assets/sections/tutorial/mops.mp4")
          #play-btn4.video-lesson__controls
          .video-lesson__timer 10:40
          .video-lesson__caption Принятие на себя лидерства
        .video-lesson
          video#video5.video-lesson__video(width="100%" height="100%" poster="/assets/sections/images/poster5.png")
            source(src="/assets/sections/tutorial/mops.mp4")
          #play-btn5.video-lesson__controls
          .video-lesson__timer 10:40
          .video-lesson__caption Личная эффективность
        .video-lesson
          video#video6.video-lesson__video(width="100%" height="100%" poster="/assets/sections/images/poster6.png")
            source(src="/assets/sections/tutorial/mops.mp4")
          #play-btn6.video-lesson__controls
          .video-lesson__timer 10:40
          .video-lesson__caption Факторы влияющие на вовлеченность в коллективе
    article.article.reviews

      include ../reviews/reviews

  aside.aside.aside-tutorial.js-aside-click
    .aside__item.aside__item--active Краткое обучение
    .aside__item Общая информация
    .aside__item Видео-уроки
    .aside__item Отзывы
