.filter-content
  .filter-content__item
    .radio
    | Максимум
  .filter-content__item
    .radio
    | Высокий
  .filter-content__item
    .radio
    | Средний
  .filter-content__item
    .radio
    | Минимальный
  .filter-content__item
    .radio
    | Низкий