include ../utils/mixins

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description', content=description)
        title 
        noscript
            style
                .simplebar-content-wrapper
                    overflow: auto
    body
        include ../../assets/sections/header/header
        include ../../assets/sections/main/main
        include ../../assets/sections/footer/footer