.task-block
  .task-block__group.task-block__group--l
    p.task-block__title
      span Риск культура
      | &#32; — Сформировать мотивацию к дальнейшему развитию
    .task-block__group-select
      .js-progress
        .select.select__selected.select__selected--progress
          p В работе
        .select-list
          .select.select__in-progress
            | В работе
          .select.select__paused
            | Пауза
          .select.select__done
            | Сделан
          .select.select__new
            | Новый
          .select.select__need-review
            | Нужна проверка
          .select.select__ok
            | Все ок
      .js-developer
        .select.select__selected.select__selected--developer
          p Константин Сергиенко
        .select-list
          .select.select__in-progress
            | Константин Сергиенко
          .select.select__paused
            | Семен Петров
          .select.select__done
            | Иван Обломов
          .select.select__new
            | Руслан Иванов
          .select.select__need-review
            | Дмитрий Крючков
          .select.select__ok
            | Олег Медведев
      .js-prior
        .select.select__selected.select__selected--prior
          p Максимум
        .select-list
          .select.select__in-progress
            | Максимум
          .select.select__paused
            | Низкий
          .select.select__done
            | Высокий
          .select.select__new
            | Средний
  .task-block__group.task-block__group--r
    .task-block__group-actions
      .group-actions__date
        | 06.05.2020
      .group-actions__actions
        .group-actions__actions--message
          | 0
        .group-actions__actions--favorites
          | 2