//- import 'simplebar';


.projects-wrapper
  ul.projects-items
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        .projects-item__block.projects-item__block--active
          | 4
        .projects-item__block
          | 22
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        .projects-item__block.projects-item__block--active
          | 4
        .projects-item__block
          | 22
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        .projects-item__block
          | 4
        .projects-item__block
          | 22
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        //- .projects-item__block.projects-item__block--active
        //-   | 4
        .projects-item__block
          | 22
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        .projects-item__block.projects-item__block--active
          | 4
        .projects-item__block
          | 22
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        //- .projects-item__block.projects-item__block--active
        //-   | 4
        .projects-item__block
          | 22
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        //- .projects-item__block.projects-item__block--active
        //-   | 4
        .projects-item__block
          | 22
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        .projects-item__block.projects-item__block--active
          | 4
        .projects-item__block
          | 22
    li.projects-item
      .items-l
        .projects-item__star
        .projects-item__text
          | RS Digital
      .items-r
        .projects-item__block.projects-item__block--active
          | 4
        .projects-item__block
          | 22